:host {
  width: 500px; display: inline-block; vertical-align: top; --height: 30px; --input-font-size: 12px; --input-font-color: #000; --input-border-color: #d1d1d1; --input-border-color-focus: #5b9dd9; --input-box-shadow-focus: rgba(30, 140, 190, 0.8); --z-index: 1000
}
.container {
  width: 100%; display: block !important; position: relative; z-index: var(--z-index)
}
.container div.input {
  width: 100%; box-sizing: border-box; padding: 0px 30px; display: flex; align-items: center; position: relative; z-index: 200
}
.container div.input span.separator {
  display: block; width: 30px; text-align: center; font-size: 16px; font-family: Tahoma, Verdana; color: #666
}
.container div.input span.date {
  display: block; flex: 1
}
.container div.input input.date {
  width: 100%; height: var(--height); background: transparent; font-size: var(--input-font-size); color: var(--input-font-color); padding: 0px 10px; text-align: center; border: 0px; border-radius: 0px; box-sizing: border-box; outline: none
}
.container span.box {
  display: block; width: 100%; height: 100%; background: #ffffff; box-sizing: border-box; border: var(--input-border-color) 1px solid; box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.08); position: absolute; top: 0px; left: 0px; z-index: 100; pointer-events: none; transition: all .3s ease
}
.container span.box.focus {
  border-color: var(--input-border-color-focus); box-shadow: 0px 0px 2px var(--input-box-shadow-focus)
}
.container span.btn {
  height: calc(100% - 2px); display: flex; justify-items: center; align-items: center; padding: 0px 5px; position: absolute; top: 1px; z-index: 500; cursor: pointer
}
.container span.btn jtbc-svg {
  width: 16px; height: 16px; --fore-color: #666666
}
.container span.btn.delete {
  left: 1px; display: none
}
.container span.btn.select {
  right: 1px
}
.container div.datepicker {
  width: 500px; display: none; background: #fff; opacity: 0; box-sizing: border-box; border: #d1d1d1 1px solid; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); position: absolute; right: 0px; top: 100%; z-index: 100; transition: all .3s ease
}
.container div.datepicker jtbc-calendar {
  --border-width: 0px
}
.container div.datepicker div.time {
  padding: 0px 20px 20px 20px; display: flex; align-items: center; justify-content: space-between
}
.container div.datepicker div.time span.item {
  display: block; width: 64px
}
.container div.datepicker div.time span.item select {
  width: 100%; height: 30px; appearance: none; -webkit-appearance: none; outline: none; padding: 0px 30px 0px 10px; border: var(--input-border-color) 1px solid; background: url(../../../../svg/select.svg) transparent calc(100% - 4px) center no-repeat; background-size: 20px
}
.container div.datepicker::before {
  content: ''; display: block; width: 0px; height: 0px; border: 6px solid; border-color: transparent transparent #d1d1d1 transparent; position: absolute; top: -12px; right: 8px; z-index: 100
}
.container div.datepicker::after {
  content: ''; display: none; width: 0px; height: 0px; border: 6px solid; border-color: #d1d1d1 transparent transparent transparent; position: absolute; top: 100%; right: 8px; z-index: 100
}
.container div.datepicker.on {
  opacity: 1; top: calc(100% + 8px)
}
.container div.datepicker.upper {
  top: auto; bottom: 100%; box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1)
}
.container div.datepicker.upper::before {
  display: none
}
.container div.datepicker.upper::after {
  display: block
}
.container div.datepicker.upper.on {
  opacity: 1; bottom: calc(100% + 8px)
}
.container div.mask {
  width: 100%; height: 100%; background: #dddddd; opacity: .3; position: absolute; top: 0px; left: 0px; z-index: -100
}
.container.disabled div.mask {
  z-index: 10000
}
.container.pickable div.datepicker {
  display: flex; align-items: flex-start
}
.container.loaded span.btn.delete {
  display: flex; opacity: 0; transition: all .3s ease
}
.container.loaded span.btn.delete:hover {
  opacity: 1
}