:host {
  width: 100%; height: 300px; display: block; box-sizing: border-box; border: #d1d1d1 1px solid
}
container {
  width: 100%; height: 100%; display: block !important; position: relative; z-index: 100
}
container div.main {
  width: 100%; height: 100%; box-sizing: border-box; overflow: hidden
}
container textarea {
  width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; background: #ffffff; box-sizing: border-box; resize: none; outline: none
}
container .CodeMirror {
  height: 100% !important; font-size: 14px; line-height: 140%; font-family: consolas, monospace
}
container .CodeMirror-fullscreen {
  z-index: 100000 !important
}
container .CodeMirror pre.CodeMirror-placeholder {
  color: #999999
}
container .mask {
  width: 100%; height: 100%; background: #dddddd; opacity: .3; position: absolute; top: 0px; left: 0px; z-index: -100
}
container.disabled .mask {
  z-index: 1000000
}
container.fullscreen {
  z-index: 100000 !important
}