.ppRightTips {
  width: 100%; height: 30px; display: flex; align-items: center
}
.ppParamPanel {
  width: 100%; box-sizing: border-box; display: block
}
.ppParamPanel div.button {
  width: 100%; box-sizing: border-box; padding: 20px 20px 0px 20px; text-align: center
}
.ppParamPanel div.source,
.ppParamPanel div.result {
  width: 100%; margin-top: 20px
}
.ppParamPanel div.source fieldset,
.ppParamPanel div.result fieldset {
  display: block; min-width: inherit; margin: 0px; padding: 0px; border: #e1e1e1 1px solid; border-radius: 0px
}
.ppParamPanel div.source fieldset legend,
.ppParamPanel div.result fieldset legend {
  margin-left: 10px; padding: 0 10px; font-weight: bold; font-size: 16px
}
.ppParamPanel div.source div.box,
.ppParamPanel div.result div.box {
  width: 100%; box-sizing: border-box; padding: 10px; position: relative; z-index: 100
}
.ppParamPanel div.source div.box div.copy {
  width: 24px; height: 24px; box-sizing: border-box; padding: 5px; border-radius: 5px; background: rgba(255, 255, 255, .8); position: absolute; top: 50%; right: 20px; z-index: 100; transform: translate(0, -50%); opacity: 0; cursor: pointer; transition: opacity .3s ease
}
.ppParamPanel div.source div.box div.copy jtbc-svg {
  width: 100%; height: 100%
}
.ppParamPanel div.source div.box:hover div.copy {
  opacity: 1
}
.ppParamPanel div.result div.message {
  width: 100%; box-sizing: border-box; padding: 10px; text-align: center
}