@import url('../../../../css/form.css');
:host {
  display: block; --input-border-color: #d1d1d1; --input-border-color-focus: #5b9dd9; --input-box-shadow-focus: rgba(30, 140, 190, 0.8)
}
container {
  width: 100%; position: relative; z-index: 100
}
container.on {
  display: inline-block !important
}
container input[type=text] {
  width: 100%; border: var(--input-border-color) 1px solid
}
container input[type=text]:focus {
  border-color: var(--input-border-color-focus); box-shadow: 0px 0px 2px var(--input-box-shadow-focus)
}
container jtbc-field-upload {
  width: 100%
}
container icons {
  display: inline-block
}
container icons jtbc-svg {
  display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin-right: 5px; opacity: 0.6; cursor: pointer; transition: all .3s ease
}
container icons jtbc-svg:hover {
  opacity: 1
}
container icons jtbc-svg:last-child {
  margin-right: 0px
}
container icons jtbc-svg[name=close] {
  width: 14px; height: 14px
}
container table.table {
  width: 100%; table-layout: fixed; background: #e1e1e1; border-collapse: separate; border-spacing: 0px 0px; border: #e1e1e1 1px solid
}
container table.table tbody:empty {
  display: none
}
container table.table tbody:empty + tfoot {
  display: table-footer-group
}
container table.table tfoot {
  display: none
}
container table.table th,
container table.table td {
  padding: 10px 10px 10px 0px
}
container table.table th {
  text-align: left; background: #f6f6f6
}
container table.table td {
  text-align: left; background: #fff
}
container table.table th.center,
container table.table td.center {
  text-align: center
}
container table.table tbody tr:hover td,
container table.table tbody tr.draging td {
  background-color: #f9f9f9
}
container table.table tfoot td {
  padding: 10px; color: #999999; text-align: center
}
container table.table .dragable {
  width: 40px; padding: 0px; text-align: center
}
container table.table .dragable jtbc-svg {
  width: 16px; height: 16px; --fore-color: #999999; cursor: move
}
container .mask {
  width: 100%; height: 100%; background: #dddddd; opacity: .3; position: absolute; top: 0px; left: 0px; z-index: -100
}
container.disabled .mask {
  z-index: 10000
}