.materialExplorer {
  width: 640px; padding: 20px 20px 0px 20px; max-height: 500px; overflow-y: scroll; display: block !important
}
.materialExplorer div.top {
  width: 100%; border-bottom: #dddddd 1px solid; display: flex; align-items: stretch
}
.materialExplorer div.top div.tab {
  width: 60%
}
.materialExplorer div.top div.bar {
  flex: 1; text-align: right
}
.materialExplorer div.top div.bar input.keyword {
  width: 100px; vertical-align: top
}
.materialExplorer div.top div.bar span.order {
  display: inline-block; line-height: 28px; padding: 0px 10px; border: #d1d1d1 1px solid; margin-left: 5px; box-sizing: border-box; vertical-align: top; cursor: pointer; position: relative; z-index: 100
}
.materialExplorer div.top div.bar span.order em {
  font-style: normal; color: #666666
}
.materialExplorer div.top div.bar span.order jtbc-svg {
  width: 18px; height: 18px; --fore-color: #666666; vertical-align: middle
}
.materialExplorer div.top div.bar span.order dl {
  display: none; width: calc(100% + 2px); margin: 0px; padding: 5px 0px; box-sizing: border-box; border: #d1d1d1 1px solid; position: absolute; top: 28px; left: -1px; z-index: 100
}
.materialExplorer div.top div.bar span.order:hover dl {
  display: block; background: #fff
}
.materialExplorer div.top div.bar span.order:hover dl dd {
  margin: 0px; padding: 0px; padding-left: 10px; line-height: 24px; color: #666666; text-align: left
}
.materialExplorer div.top div.bar span.order:hover dl dd:hover {
  background-color: #d1d1d1; color: #000000
}
.materialExplorer div.list {
  width: 100%; display: none
}
.materialExplorer div.list.on {
  display: block
}
.materialExplorer div.list .filelist {
  padding: 20px 0px 10px 0px
}
.materialExplorer div.list .filelist item {
  width: 100%; display: flex; align-items: stretch; justify-content: center; padding: 10px; box-sizing: border-box; border: #dddddd 1px dashed; border-radius: 5px; margin-bottom: 10px; cursor: pointer
}
.materialExplorer div.list .filelist item span.title {
  display: block; flex: 1
}
.materialExplorer div.list .filelist item span.filegroup {
  margin-right: 10px
}
.materialExplorer div.list .filelist item span.filesize {
  display: block; width: 100px; padding: 4px; text-align: right; color: #666666
}
.materialExplorer div.list .filelist item.on {
  border: #dddddd 1px solid; background-color: #dddddd
}
.materialExplorer div.listEmpty {
  display: none; padding: 50px 0px; text-align: center; color: #999999
}
.materialExplorer div.listEmpty.on {
  display: block
}
.materialExplorer div.pagination {
  padding-bottom: 20px; text-align: center
}