.ppLogoDemo {
  max-width: 150px; padding: 5px; box-sizing: border-box; background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, #fff 25%, #fff 75%, #eee 75%, #eee 100%); background-size: 10px 10px; background-position: 0px 0px, 5px 5px; border: #e1e1e1 1px solid
}