flag[lang='0'],
flag[lang='zh-cn'] {
  background-image: url(../svg/lang/zh-cn.svg)
}
flag[lang='1'],
flag[lang='en'] {
  background-image: url(../svg/lang/en.svg)
}
flag[lang='2'],
flag[lang='ja'] {
  background-image: url(../svg/lang/ja.svg)
}
flag[lang='3'],
flag[lang='ko'] {
  background-image: url(../svg/lang/ko.svg)
}
flag[lang='4'],
flag[lang='fr'] {
  background-image: url(../svg/lang/fr.svg)
}
flag[lang='5'],
flag[lang='ru'] {
  background-image: url(../svg/lang/ru.svg)
}
flag[lang='6'],
flag[lang='es'] {
  background-image: url(../svg/lang/es.svg)
}
flag[lang='7'],
flag[lang='ar'] {
  background-image: url(../svg/lang/ar.svg)
}