table.table {
  width: 100%; background: #e1e1e1; border-collapse: separate; border-spacing: 1px 1px
}
table.table tbody:empty {
  display: none
}
table.table tbody:empty + tfoot {
  display: table-footer-group
}
table.table tfoot {
  display: none
}
table.table th,
table.table td {
  padding: 10px
}
table.table th {
  text-align: left; background: #f6f6f6
}
table.table td {
  text-align: left; background: #fff
}
table.table td.multiline {
  line-height: 160%
}
table.table th.center,
table.table td.center {
  text-align: center
}
table.table th.right,
table.table td.right {
  text-align: right
}
table.table td[role=draghandle] {
  background-image: url(../svg/draghandle.svg); background-position: center center; background-repeat: no-repeat; background-size: 20px; cursor: move
}
table.table tbody tr:hover td,
table.table tbody tr.selected td,
table.table tbody tr.draging td {
  background-color: #f9f9f9
}
table.table tfoot td {
  color: #999999
}
table.table.skinny {
  border-spacing: 0px 0px
}
table.table.skinny th {
  background: #ffffff; padding: 10px 5px
}
table.table.skinny td {
  padding: 5px
}